

* {
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas {
  border: 10px solid darkturquoise;
}

.toolbox {
  background-color: darkseagreen;
  border: 1px solid slateblue;
  display: flex;
  width: 804px;
  padding: 1rem;
}

.toolbox > * {
  background-color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 45px;
  width: 65px;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 8px;
}

.toolbox > *:last-child {
  margin-left: auto;
}

.button {border-radius: 50%;}